@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

.page {
    width: 100%;
    height: 100vh;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 600;
    --dark-background-color: #DBD9CC;
    --light-background-color: #F3F3EC;
    --purple-title-color: #7B6172;
    --sub-title-color: #9C9B90;
    --tan-title-color: #88877A;
    --tag-background-blue: #42BBF2;
    --tag-background-green: #8AD38A;
    --tag-background-red: #F3493A;
    --tag-background-purple: #BE85F0;
    --tag-background-yellow: #FADC00;
    --tag-background-orange: #F98E26;
    --tag-background-pink: #F09EB4;
    --tag-background-black: #694859;
    background-color: var(--dark-background-color);
}



.banner {
    width: 100%;
    height: 130px;
    padding: 30px 5% 15px;
}

.banner > h1 {
    font-size: 48px;
    color: var(--purple-title-color);
}

.banner > p {
    font-size: 16px;
    color: var(--sub-title-color);
}




.side-menu {
    display: inline-block;
    vertical-align: top;
    width: 24%;
    height: calc(97% - 130px);
    margin: 0 3%;
    padding: 30px 2.5%;
    border-radius: 15px;
    background-color: var(--light-background-color);
}

.side-menu > ul{
    margin: 10px 0 0 10%;
}


.side-menu a {
    display: inline-block;
    width: 100%;
    padding: 10px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    color: var(--tan-title-color);
}

.side-menu .active{
    color: var(--light-background-color);
    background-color: var(--purple-title-color);
}

.side-menu > .projects-link{
    font-size: 24px;
}




.projects {
    display: inline-block;
    vertical-align: top;
    width: 67%;
    margin: 0 3% 0 0;
    height: calc(97% - 130px);
    overflow-y: auto;
    scrollbar-color: var(--sub-title-color) var(--dark-background-color);
    scrollbar-width: thin;
}

.project {
    width: 99%;
    height: 200px;
    margin-bottom: 4%;
    border-radius: 15px;
    background-color: var(--light-background-color);
}

.project > .info {
    width: 60%;
    padding: 30px 3%;
}

.project > .info > h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: var(--tan-title-color);
}

.tag {
    display: inline-block;
    font-size: 12px;
    margin: 0 10px 15px 0;
    padding: 7px 10px;
    border-radius: 15px;
    color: var(--light-background-color);
    background-color: var(--purple-title-color);
}

.project > .info > p {
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--tan-title-color);
}

.blue {
    background-color: var(--tag-background-blue);
}
.green {
    background-color: var(--tag-background-green);
}
.red {
    background-color: var(--tag-background-red);
}
.purple {
    background-color: var(--tag-background-purple);
}
.yellow {
    background-color: var(--tag-background-yellow);
}
.orange {
    background-color: var(--tag-background-orange);
}
.pink {
    background-color: var(--tag-background-pink);
}
.black {
    background-color: var(--tag-background-black);
}


canvas {
    width: 240px;
    height: 216px;
    image-rendering: pixelated;
    position: absolute;
}